/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    margin-top: 20px;
}

label {
    font-weight: bold;
}

select, button {
    padding: 8px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%; /* Asegura que el ancho sea completo */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

a.button {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #007bff; /* Color de fondo del botón */
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
}

a.button:hover {
    background-color: #0056b3; /* Color de fondo del botón al pasar el cursor */
}

.message, .error-message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}

.message {
    background-color: #dff0d8;
    border: 1px solid #d0e9c6;
    color: #3c763d;
}

.error-message {
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    color: #a94442;
}
