body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-image: url("../Images/background.jpg");
    background-size: cover;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

#error-message {
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    color: red;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    display: none;
}

#success-message {
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    color: green;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    display: none;
}

.ticket-details {
    width: 60%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ticket-details p {
    margin: 10px 0;
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form button {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

a {
    display: block;
    width: 50%;
    margin: 20px auto;
    text-align: center;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #0056b3;
}
